apiVersion: v1
kind: Service
metadata:
  name: alert-service
  labels:
    app: alert-service
spec:
  selector:
    app: alert
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30083
  type: NodePort
